.nav-wrap {
  background: #222;
  height: 50px;
  width: 100%;

  nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 8px;
    font-family: 'Open Sans Condensed', sans-serif;

    div {
      display: inline-block
    }

    div.logo {
      float: left;

      img {
        padding: 3px 15px 0 15px;
      }
    }

    div.title {
      color: #fff;
      font-size: 1.4em;
      font-weight: 200;
      float: left;
      padding: 0 12px;
    }

    div.links {
      float: right;
      padding-right: 4%;

      div.divider {
        margin-left: 10px;
        float: right;
      }

      a {
        color: #fff;
        font-size: 1.4em;
        font-weight: 200;
        float: left;
        cursor: pointer;
        float: right;
        text-decoration: none;
      }

      ul {
        display: inline-table;
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0 15px;
        position: relative;
        float: right;

        li {
          float: left;

          a {
            padding: 5px;
            margin: 5px;
            font-size: 1em;
            color: white;
          }
        }
      }
    }

    div.divider {
      border-right: solid 1px #aaa;
      height: 34px;
      padding: 0;
      width: 0px;
      float: left;
    }

    @media screen and (max-width: 767px) {
      div.title {
        font-size: 1em;
        padding: 6px 8px 0;
      }

      div.links {
        display: none;
      }
    }
  }
}