.nav-wrapper {
  background: #222;
  height: 50px;
  width: 100%;

  nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    div {
      display: inline-block
    }

    div.title {
      color: #fff;
      font-size: 1.4em;
      font-weight: 200;
      float: left;
      padding: 12px 12px 0;
    }

    div.links {
      float: right;
    }

    @media screen and (max-width: 767px) {
      div.title {
        font-size: 1em;
        padding: 12px 5px 0;
      }
    }
  }
}